# docker-compose environment file
#
# When you set the same environment variable in multiple files,
# here’s the priority used by Compose to choose which value to use:
#
#  1. Compose file
#  2. Shell environment variables
#  3. Environment file
#  4. Dockerfile
#  5. Variable is not defined

# Nginx configuration
NGINX_DEFAULT_CONF=./nginx/default.conf
NGINX_SSL_CERTS_DIR=./ssl

# SAFE server
SAFE_SERVER=safe
SAFE_SERVER_PORT=7777
RIAK_IP=riak
RIAK_PORT=8098
SLANG_SCRIPT=impact/mvp-wp-dso-presidio.slang
AKKA_LOG_LEVEL=info
SAFE_IMPORTS=./safe/imports
SAFE_PRINCIPAL_KEYS=./safe/keys

# Gunicorn configuration
GUNICORN_USER=nobody
GUNICORN_GROUP=nogroup
NUM_WORKERS=1
NUM_THREADS=10
MAX_REQUESTS_PER_WORKER=20
WORKER_TIMEOUT=40
