<!doctype html>
<html>
   <body>
     <h1>Unauthorized</h1>

     This web service is uses SAFE as an authorization method, but
     relies on several pieces of information to complete
     authorization.<p/>

     Unfortunately, your attempt to access this service failed.<p/>

     An attempt to explain the reasoning behind this failure has
     been provided below. Please provide this information to the
     administrator of this service as part of any attempts to gain
     access.<p/>
     
     Authorization failure reason: {{ reason }}</p>
   </body>
</html>
